<br><br>
<h1>
  <span class="badge badge-success" i18n>Edycja hasła:</span>
</h1>
<br>

<br>
<br>
<div style="margin: 0 auto; width:600px;">
  <div class="form-group text-left"><h5 class="display-5" i18n>Stare hasło:</h5></div>
  <form [formGroup]="formGroup">
    <div>
      <input
        [ngClass]="{'in-valid': !formGroup.controls['oldPassword'].valid && formGroup.controls['oldPassword'].touched}"
        class="form-control" formControlName="oldPassword"
        name="oldPassword"
        type="password">
    </div>
    <div>
      <div *ngIf="!formGroup.controls['oldPassword'].valid && formGroup.controls['oldPassword'].touched"
           class="alert alert-danger" i18n>
        Podane hasło nie spełnia wymagań!
      </div>
    </div>
    <br>
    <div class="form-group text-left"><h5 class="display-5" i18n>Nowe hasło:</h5></div>
    <div>
      <input
        [ngClass]="{'in-valid': !formGroup.controls['newPassword'].valid && formGroup.controls['newPassword'].touched}"
        class="form-control" formControlName="newPassword" name="newPassword"
        placeholder="min 9 znaków, wymagane: mała i duża litera, cyfra i znak specjalny "
        type="password">
    </div>
    <div>
      <div *ngIf="!formGroup.controls['newPassword'].valid && formGroup.controls['newPassword'].touched"
           class="alert alert-danger" i18n>
        Podane hasło nie spełnia wymagań!
      </div>
    </div>
    <br>
    <div class="form-group text-left"><h5 class="display-5" i18n>Potwierdź nowe hasło:</h5></div>
    <div>
      <input
        [ngClass]="{'in-valid': !formGroup.controls['newPasswordConfirm'].valid && formGroup.controls['newPasswordConfirm'].touched}"
        class="form-control" formControlName="newPasswordConfirm"
        name="newPasswordConfirm"
        type="password">
    </div>
    <div>
      <div *ngIf="!formGroup.controls['newPasswordConfirm'].valid && formGroup.controls['newPasswordConfirm'].touched"
           class="alert alert-danger" i18n>
        Podane hasło nie spełnia wymagań!
      </div>
    </div>
  </form>
  <br>
  <div class="form-group">
    <div
      *ngIf="isFailed"
      class="alert alert-warning"
      role="alert"
    >
      <div style="text-align: center;">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
  <div style="text-align: center;">

    <button (click)="saveChanges(formGroup.value)" [disabled]="formGroup.invalid" class="btn btn-success button"
            i18n type="button">
      Zapisz hasło
    </button>

  </div>
</div>
