<div style="text-align: center;"><h3 class="modal-title" i18n>Gratulacje! Karnet został dodany!</h3></div>

<div class="modal-body">
</div>
<div class="modal-footer">
  <button (click)="refresh()" class="btn btn-primary" i18n type="button">Dodaj następny karnet</button>
  <button (click)="closeDialog()" class="btn btn-success" i18n
          routerLink="admin/management-gym-membership/active-gym-memberships" type="button">Zobacz wszystkie karnety
  </button>
  <button (click)="closeDialog()" class="btn btn-info" i18n routerLink="admin/main" type="button">Powrót do strony
    głównej
  </button>
</div>
