<br><br>
<h1>
  <span class="badge badge-danger" i18n>  Dezaktywuj karnet z oferty:</span>
</h1>
<br>
<div *ngIf="gymMemberships.length>0 && dataFetched">
  <div>
    <table class="table table-striped">
      <thead>
      <tr class="mat-header-row">
        <th i18n scope="col" style="width: 5%">L.p</th>
        <th i18n scope="col" style="width: 25%">Nazwa</th>
        <th i18n scope="col" style="width: 10%">Cena za miesiąc (PLN)</th>
        <th i18n scope="col" style="width: 10%">Liczba miesięcy</th>
        <th i18n scope="col" style="width: 10%">Cena końcowa (PLN)</th>
        <th i18n scope="col" style="width: 20%">Typ członkostwa</th>
        <th i18n scope="col" style="width: 10%">Dezaktywacja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let gymMembership of gymMemberships; let i = index" [attr.data-index]="i" class="mat-row">
        <td>{{(i + 1) + (page * size)}}</td>
        <td>{{gymMembership.name}}</td>
        <td>{{gymMembership.priceMonthGross  | number : '1.2-2'}}</td>
        <td>{{gymMembership.numberOfMonths}}</td>
        <td>{{gymMembership.priceTotalGross  | number : '1.2-2'}}</td>
        <td>{{gymMembership.typeOfMembership}}</td>
        <td>
          <button (click)="deactivationGymMembershipConfirm(gymMembership)" class="btn btn-warning" i18n
                  scope="col" type="button">
            Dezaktywuj
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator #paginator (page)="changePage($event)" [length]="totalElements" [pageSizeOptions]="[10, 25, 100]"
                   [pageSize]="10">

    </mat-paginator>
  </div>
</div>
<div *ngIf="gymMemberships.length===0 && dataFetched">
  <div style="text-align: center;">
    <h1>
      <span class="badge badge-warning" i18n>BRAK AKTYWNYCH KARNETÓW W BAZIE DANYCH <br> KTÓRE MOŻNA DEZAKTYWOWAĆ</span>
    </h1>
  </div>
</div>

