<br><br><br><br><br><br>
<div class="text-center" style="margin: 0 auto; width:600px;">
  <h3><i class="fa fa-lock fa-4x"></i></h3>
  <h2 class="text-center" i18n>Zapomniałeś hasła?</h2>
  <p i18n>Możesz zresetować je tutaj:</p>
  <div class="panel-body">

    <form (ngSubmit)="sendEmail(formGroup.value)" [formGroup]="formGroup">
      <div>
        <input [ngClass]="{'in-valid': !formGroup.controls['email'].valid && formGroup.controls['email'].touched}"
               class="form-control" formControlName="email"
               name="email"
               type="text">
      </div>
      <div>
        <div *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched"
             class="alert alert-danger" i18n>
          Podany email jest niepoprawny.
        </div>
      </div>
      <br>
      <div class="form-group">
        <input class="btn btn-lg btn-primary btn-block" name="recover-submit" type="submit" value="Resetuj hasło">
      </div>

      <input class="hide" id="token" name="token" type="hidden" value="">
    </form>

  </div>
</div>
