<br><br>
<div style="text-align: center;">
  <h1 class="display-2">
    <span class="badge badge-success" i18n>Kupiono karnet!</span>
  </h1>
</div>
<br>
<div style="text-align: center;">
  <h1 i18n>Aby dokończyć transakcję przelej pieniądze na konto :)</h1></div>
<br>
<h2 i18n>Dane do przelewu:</h2>


<div style="text-align: center;">
  <h2><b i18n>&nbsp;&nbsp;&nbsp;Adres (opcjonalnie)</b></h2>
  <p><b i18n>Ulica: </b>{{transferData.streetCompany}}</p>
  <p><b i18n>Kod pocztowy: </b>{{transferData.postcodeCompany}}</p>
  <p><b i18n>Miejscowość: </b>{{transferData.cityCompany}}</p>
  <br>
  <h4><b i18n>Numer konta: </b>{{transferData.accountNumber}}</h4>
  <br>
  <h4><b i18n>Tytuł: </b>{{transferData.titleTransfer}}</h4>
  <br>
  <p><b i18n>Prosimy o wysłanie środków na konto o podanym tytule.</b></p>
  <p><b i18n>Przyspieszy to finalizację transakcji.</b></p>

</div>
