<div class="modal-header">
  <div style="text-align: center;">
    <h4 class="modal-title" i18n>Potwierdzenie zakupu karnetu</h4>
  </div>
  <button (click)="closeDialog()" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div i18n style="text-align: center;">
    Czy potwierdzasz zakup zakupu karnetu dla wybranego klienta?
  </div>
</div>
<div style="text-align: center;">
  <button (click)="confirmTheOrder()" class="btn btn-success button" i18n type="button">Tak</button>
  <button class="btn btn-lg btn-link" disabled type="button"> &nbsp;&nbsp;&nbsp;</button>
  <button (click)="closeDialog()" class="btn btn-danger  button" i18n type="button">Nie</button>
</div>
